= gmaps(markers: { data: data, options: { draggable: true,raw: '{ animation: google.maps.Animation.DROP }' }}, map_options: {  id:'map', container_class: map_container, class: map_class, minZoom: 3,  maxZoom: 18, raw: '{ disableDefaultUI: true, mapTypeControlOptions: { position: google.maps.ControlPosition.BOTTOM_LEFT, style: google.maps.MapTypeControlStyle.DROPDOWN_MENU }, zoomControlOptions: { style: google.maps.ZoomControlStyle.LARGE, position: google.maps.ControlPosition.LEFT_TOP }, panControl: false, panControlOptions: { position: google.maps.ControlPosition.LEFT_TOP } }'})

= content_for :scripts do
  script src='/assets/gmaps4rails/custom/callback_#{resource}.js'